<div class="inline-flex px-16 py-8 gap-16 w-full items-center">

  <button mat-icon-button class="flex scale-200 cursor-pointer items-center place-items-center" (click)="menuService.toggle()" >
    <mat-icon>{{!menuService.opened() ? 'menu' : 'close'}}</mat-icon>
  </button>

  <div class="uppercase text-nowrap">
    <a class="text-5xl font-bold" href="{{domain}}">{{ domainName }}</a>
  </div>

  <label class="bg-neutral-800 rounded-full h-auto inline-flex items-center">
    <mat-icon fontIcon="search" class="mx-4"/>
    <input class="border-none outline-none py-4 text-2xl" placeholder="Search" type="search" (keydown.enter)="onEnter($event)"/>
  </label>

</div>
