<div class="flex-row flex px-28 py-8 gap-16 w-full items-center ">
  <div class="uppercase text-nowrap">
    <a class="text-5xl font-bold" href="{{domain}}">{{ domainName }}</a>
  </div>

  <label class="bg-neutral-800 rounded-full h-auto inline-flex items-center">
    <mat-icon fontIcon="search" class="mx-4"/>
    <input class="border-none outline-none py-4 text-2xl" placeholder="Search" type="search" (keydown.enter)="onEnter($event)"/>
  </label>

  <a class="ml-auto cursor-pointer" (click)="profileService.open.set(!profileService.open())">
    <p-avatar image="{{authService.getProfilePicture()}}" size="xlarge" shape="circle"/>
  </a>

  <p-dialog maskStyleClass="backdrop-blur" [visible]="profileService.open()" styleClass="!border-0 !bg-transparent">
    <ng-template #headless>
      <app-profile/>
    </ng-template>
  </p-dialog>
</div>
