<p-stepper [value]="1" class="py-10 px-12 w-full h-full">
  <p-step-list>
    <p-step [value]="1">Rating</p-step>
    <p-step [value]="2">Review</p-step>
  </p-step-list>
  <p-step-panels>
    <p-step-panel [value]="1">
      <ng-template #content let-activateCallback="activateCallback" class="flex-wrap flex h-full">
        <div class="flex flex-col px-16 py-8 gap-12 justify-center h-full">
          <div class="flex w-full justify-center">
            <span
              class="bg-neutral-400 text-6xl rounded-full w-20 h-20 flex justify-center items-center">{{ rating }}</span>
          </div>
          <div class="flex justify-center">
            <p-rating [(ngModel)]="rating" [stars]="10"/>
          </div>
          <div class="flex flex-row justify-end align-bottom">
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)"/>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="2">
      <ng-template #content let-activateCallback="activateCallback">
        <div>
          <div class="flex">
            <p-editor placeholder="Write you review here"/>
          </div>
          <div class="flex pt-6 justify-between">
            <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)"/>
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)"/>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

  </p-step-panels>
</p-stepper>
