<div class="grid w-full h-full {{menuService.opened() ? 'grid-cols-5' : 'grid-cols-6'}}">

  @if (reviewResponsePage == undefined || reviewResponsePage.totalElements != 0) {
    @for (review of reviewResponsePage?.content; track review.id) {
      <div class="fle">
        <img ngSrc="https://image.tmdb.org/t/p/original/{{review.mediaPosterPath}}" height="300" width="200"/>
      </div>
    }
  } @else {
    <span class="flex w-full h-full justify-center items-center">
      No reviews found
    </span>
  }

</div>

