<div class="flex w-full h-full">

  <div class="h-full flex flex-col overflow-hidden w-full p-4">
    <mat-nav-list class="flex h-full">
      <div class="gap-2 grid h-full grid-rows-[auto_auto_1fr] w-auto">
        @for (item of routeList; track item.label) {
          @if (item.label.toLowerCase() != 'settings') {
            <a mat-list-item [routerLink]="item.route" class="w-full" [style.height]="'60px'"
               [ngStyle]="{
                  'padding-left': menuService.opened() ? '16px' : '4px'
                }"
               (click)="item.action ? item.action() : null">
              <mat-icon matListItemIcon class="scale-125">
                {{ item.icon }}
              </mat-icon>
              <span class="text-xl font-bold text-neutral-400">
                @if (menuService.opened()) {
                  {{ item.label }}
                }
          </span>
            </a>
          } @else {
            <mat-divider/>
            <a mat-list-item [routerLink]="item.route" class="flex" [style.height]="'60px'"
               [ngStyle]="{
                  'padding-left': menuService.opened() ? '16px' : '4px'
                }"
               (click)="item.action ? item.action() : null">
              <mat-icon matListItemIcon class="scale-125">
                {{ item.icon }}
              </mat-icon>
              <span class="text-xl font-bold text-neutral-400">
                @if (menuService.opened()) {
                  {{ item.label }}
                }
        </span>
            </a>
          }
        }
      </div>
    </mat-nav-list>
    <!--  </div>-->
  </div>
  <mat-divider vertical/>
</div>
