<h1>HOME</h1>

<p>main-app works!</p>

<input type="text" placeholder="Search" [formControl]="searchControl"/>

@for (item of result.results; track item.id) {
  <a [routerLink]="['/details' + '/' + item.media_type, item.id]">
    <h1>{{ item.name == null ? item.title : item.name }}</h1>
    <img
      ngSrc="{{ item.poster_path ?
    'https://media.themoviedb.org/t/p/w300_and_h450_bestv2' + item.poster_path :
    'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg' }}"
      [width]="150"
      [height]="225"
      alt="{{ item.name == null ? item.title : item.name }} poster">
  </a>
}

<button (click)="logOut()">Log Out</button>
