@for (item of result ? result().results : null; track item.id) {
  <a (click)="openDrawer(item.mediaType, item.id)" class="h-[240px] w-[160px] cursor-pointer">
    <mat-card appearance="outlined" class="m-6">
      <div class="inline-flex">
        <img ngSrc="{{ 'https://media.themoviedb.org/t/p/w300_and_h450_bestv2' + item.posterPath }}"
             height="240" width="160" class="object-cover aspect-[2/3] rounded-xl" alt="{{ item.name }}"/>
        <div class="flex flex-col">
          <mat-card-header>
            <mat-card-title>
              <span class="text-3xl">
              {{ item.title ? item.title : item.name }}
              </span>
              @if (item.originalName && !(item.originalName == item.name || item.originalName == item.title)) {
                <span class="text-neutral-500 text-2xl">
                  | {{ item.originalName }}
                </span>
              }
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="flex-1">
            <p class="text-xl overflow-hidden text-ellipsis line-clamp-4 mt-2">
              {{ item.overview }}
            </p>
          </mat-card-content>

          <mat-card-footer>
            @if (item.originCountry != undefined && item.originCountry.length > 0) {
              <mat-chip-set class="px-4 py-2 items-center">
                @for (country of item.originCountry; track country) {
                  <mat-chip color="primary">
                        <span class="text-neutral-500">
                          {{ country }}
                        </span>
                  </mat-chip>
                }
              </mat-chip-set>
            }
          </mat-card-footer>
        </div>
      </div>
    </mat-card>
  </a>
}
