<div class="relative h-full bg-neutral-900">
  <div
    [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original/' + details.backdropPath + ')'}"
    class="bg-cover bg-center absolute overflow-hidden w-full h-full opacity-25 blur-sm">
  </div>
  <div class="flex-row flex items-center w-full h-full z-10 p-10">

    <img class="h-[550px] w-auto rounded-2xl blur-3xl absolute z-20"
         ngSrc="https://image.tmdb.org/t/p/original/{{details.posterPath}}"
         alt="backdrop"
         width="100" height="100"/>
    <img class="h-[550px] w-auto rounded-2xl z-30" ngSrc="https://image.tmdb.org/t/p/original/{{details.posterPath}}"
         alt="backdrop"
         width="100" height="100"/>
    <div class="flex-col flex h-full w-screen text-ellipsis overflow-hidden px-6 gap-5">
      <div>
        <h1 class="truncate font-bold overflow-hidden text-6xl pb-4">
          <span>{{ details.name ? details.name : details.title }}</span>
        </h1>

        @if ((details.originalName || details.originalTitle) &&
        (details.originalName != details.name || details.originalTitle != details.title)) {
          <h2 class="truncate text-4xl font-bold text-neutral-400">
            <span>{{ details.originalName ? details.originalName : details.originalTitle }}</span>
          </h2>
        }
      </div>

      <p class="text-xl flex-1">
        {{ details.overview }}
      </p>

      <div class="flex flex-row">
        <div class="flex flex-col gap-5">
          <div class="flex-row">
            <mat-chip-set>
              @for (badge of details.genres; track badge.id) {
                <mat-chip>{{ badge.name }}</mat-chip>
              }
            </mat-chip-set>
          </div>
          <div class="flex flex-row gap-8">

            @if (details.originCountry) {
              <div>
                <span>Origin countries</span>
                <mat-chip-set>
                  @for (country of details.originCountry; track country) {
                    <mat-chip>{{ getCountryFlag(country.toString()) }} {{ country }}</mat-chip>
                  }
                </mat-chip-set>
              </div>
            }
            @if (details.productionCountries) {
              <div>
                <span>Production countries</span>
                <mat-chip-set>
                  @for (country of details.productionCountries; track country) {
                    <mat-chip>{{ getCountryFlag(country.iso_3166_1) }} {{ country.iso_3166_1 }}</mat-chip>
                  }
                </mat-chip-set>
              </div>
            }
          </div>
        </div>

        <div class="flex-1 flex justify-end items-center">
          <p-button (onClick)="openCreateReviewDialog()">
            <mat-icon class="scale-150">rate_review</mat-icon>
            <span class="text-4xl font-bold">Review</span>
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>
